HELEN_PUBLIC_BASE_URL=http://127.0.0.1:8002
HELEN_OAUTH_REDIRECT_URL=https://helen.l8tenever.com/oauth/callback
HELEN_TRIGGER_BASE_URL=https://helen.l8tenever.com
HELEN_LOOKAHEAD_DAYS=14
HELEN_SECRET_KEY=please-generate-a-long-random-string
